* {
    padding: 0;
    margin: 0
}


.sideNav {
    display: flex;
    flex-direction: row;

}

.StickyWrapper {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding:0px
}

.navListContainer div {
    align-items: center;
    background-color: red;
}

.navListContainer li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
}

.navListContainer li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navListContainer li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navListContainer li p {
    margin-left: 10px;
}

.ProfilePicStyle1 {
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    border-radius: 100%;
    margin: 3vh;
}

.ProfilePicStyle2 {
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    border-radius: 100%;
    margin: 3vh;
}

.HorizontalLine {
    width: 100%;
    align-self: flex-start;
    background-color: orange;
    height: 1px;
    border: none;
}


.ThemeSwitchBtn {
    background-color: transparent;
    border: none;
}

.ProfileContainer {
    /* box-shadow: 2px 10px 15px 3px rgba(255, 166, 0, 0.25); */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(-10deg, orange, orange, rgb(255, 255, 0));
    padding: 2vh 0px;
    width: 100%
}

.ProfileDetails {
    font-size: 16px;
    margin-left: 10%;
}

.Icon {
    margin-right: 5px;

}

.CardImageStyle {
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.ShowHideNavbar {
    border: none;
}

.CollapseSideBarDiv {
    padding: 0px 10px;
}


/* Top Navigation Bar */
.AppHeader{
    transition: color 0.25s ease;
    font-family: 'Times New Roman', Times, serif !important;
}
.AppHeader:hover{
    color:orange
}
.NavigationButtons{
    transition: color 0.25s ease;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
}
.NavigationButtons:hover{
    color: orange;
}

@media only screen and (max-width:450px){
    .AppHeader{
        font-size: 18px !important;
    }
    
}