#Services_ID{
    
}
.ServicesHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
}
.serviceBody{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.ServicesImageClass{
    height: 30%;
    width: 30%;
    
}
.ServiceDetailsWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.ServiceDetails{
    width: 40%;
    margin: 5% 0px;
}
