#Services_ID{
    
}
.ServicesHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
}
.serviceBody{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 5%;
}
.ServicesImageClass{
    height: 350px;
    width: 350px;
    object-fit: contain;
    
}
.ServiceDetailsWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.ServiceDetails{
    width: 40%;
    margin: 8% 0px;
}
.ServicesCardsContainer{
    padding:0px 5vw;
}
.ReviewSection{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ReviewSection{
    font-size: 24px;
}
@media only screen and (max-width:1000px){
    .serviceBody{
        /* font-family: 'Poppins', sans-serif; */
        font-size: 14px;
    }
    .ServicesImageClass{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (max-width:650px){
    .ServiceDetailsWrapper{
        flex-direction: column-reverse;
        align-items: center;
        justify-content:center
    }
    .serviceBody{
        margin-top: 0px;
        text-align: center;
    }
    /* .ServicesImageClass{
        display: none;
    } */
    .ServiceDetails{
        width: 80%;
        margin: 0% 0px 15% 0px;
    }
}

