#Services_ID{
    height: 100%;
}
.ServicesHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
}
.serviceBody{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 5%;
}
.ServicesImageClass{
    height: 400px;
    width: 400px;
    object-fit: contain;
    
}
.ServiceDetailsWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}
.ServiceCard{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}
.FadeYAnimationServices{
    opacity: 1;
    transform: translateY(0px);
}

.ServiceDetails{
    width: 40%;
    margin: 8% 0px;
}
.ServicesCardsContainer{
    padding:0px 5vw;
}
.ReviewSection{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ReviewSection{
    font-size: 24px;
}
@media only screen and (max-width:1000px){
    .serviceBody{
        /* font-family: 'Poppins', sans-serif; */
        font-size: 16px;
    }
    .ServicesImageClass{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (max-width:650px){
    .ServiceDetailsWrapper{
        flex-direction: column-reverse;
        align-items: center;
        justify-content:center;
        opacity: 1;
    transform: translateY(0px);
    }
    .serviceBody{
        font-size: 14px;
        margin-top: 0px;
        text-align: center;
    }
    /* .ServicesImageClass{
        display: none;
    } */
    .ServiceDetails{
        width: 80%;
        margin: 0% 0px 15% 0px;
        opacity: 0;
        transform: translateX(25px);
        transition: opacity 1s, transform 1s;
    }
    .ServicesImageClass{
        height: 250px;
        width: 250px;
        opacity: 0;
        transform: translateX(-25px);
        transition: opacity 1s, transform 1s;
    }
    .FadeXAnimationServices{
        opacity: 1;
    transform: translateX(0px);
    }
}

