.WrapperHome {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.IntroWrapper {
    /* border: 1px solid rgba(255, 166, 0, 0.3); */
    border-radius: 5px;
    padding: 10px;
    /* width: 50vw; */
}

.heading1 {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    /* line-height: 10px; */
}

.heading1 p {
    font-size: 30px;
}

#FullNameHome {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.heading2 {
    font-size: 0.9rem;
}

.headingProject {
    font-size: 28px;
    margin-top: 10px;
}

.AllCardsWrapper {
    margin: 10% 0px;
}

.IntroWrapper span {
    color: #fff;
}

.ContactMeBtn {
    background-color: orange;
    border: none;
    margin-top: 10px;
}

.OrangeButton {
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 2px 10px 15px 3px rgba(255, 166, 0, 0.25);
    background: linear-gradient(-10deg, orange, orange, rgb(255, 255, 0));
    border-radius: 25px;
    border: none;
    font-size: 14px;
    transition: transform 0.2s linear;
}
.OrangeButtonNonGradient{
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 2px 10px 15px 3px #40404045;
    background: linear-gradient(-10deg, #181818, #404040);
    /* background-color: #000; */
    border-radius: 25px;
    border: none;
    font-size: 14px;
    transition: transform 0.2s linear;
}

.OrangeButton:hover, .OrangeButtonNonGradient:hover {
    transform: scale(1.05);
}

.SmileyImage {
    height: 75px;
    width: 10vw;
    object-fit: contain;
    transform: rotate(-15deg);
    animation-name: smiley;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.HomeCarouselImage {
    height: 400px;
    width: 60vw;
    object-fit: contain;
}

.HomeCarouselWrapper {
    margin-top: 25px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@keyframes smiley {
    from {
        transform: rotate(-15deg);
    }

    to {
        transform: rotate(15deg);
    }
}

.card-Title {
    font-weight: 700;
    font-size: 20px !important;
}

.card-Content {
    font-weight: 400;
    font-size: 14px;
}

.d-flex {
    justify-content: space-around;
    align-self: flex-start;
}

.Card1Description {
    width: 25rem;
    text-align: end;
}

.Card2Description {
    width: 25rem;
    text-align: end;
}

.Card3Description {
    width: 25rem;
    text-align: end;
}

.ResumeDownloadLink {
    text-decoration: none;
}

.animate__animated.animate__bounceIn {
    --animate-duration: 1.5s;
}

.CardWrapper1 {
    transform: translate(0px, -5px);
    animation-name: cardFloating;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes cardFloating {
    from {
        transform: translate(0px, -5px);
    }

    to {
        transform: translate(0px, 5px);
    }
}

.CardWrapper3 {
    transform: translate(0px, -3px);
    animation-name: card3Floating;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes card3Floating {
    from {
        transform: translate(0px, -3px);
    }

    to {
        transform: translate(0px, 8px);
    }
}

.CardWrapper2 {
    transform: translate(0px, 8px);
    animation-name: card2Floating;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes card2Floating {
    from {
        transform: translate(0px, 8px);
    }

    to {
        transform: translate(0px, -8px);
    }
}

/* borderRadius:25, borderWidth:0, */
.CoverPhoto {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url('../../../Assets/Images/portfolio_cover_photo.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 3%;
    padding-bottom: 3%;
    position: relative;
}

.CardContainer {
    padding: 3vh 5vw;
}

.ProfilePict {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid white;
    position: absolute;
    left: 5%;
    bottom: -75px
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    color: #ff8c00;
    font-size: 26px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    white-space: nowrap;
    min-height: 1.5em;
    vertical-align: bottom;
    margin-top: 5px;
    /* line-height: 10px; */
    /* border-right: .075em solid orange; */
    /* animation: typing 2s steps(40, end),
             blink-caret .75s step-end infinite; */
}

.Cursor {
    height: 1.5em;
    font-size: 1em;
    font-weight: 300;
    animation: blink-caret .75s step-end infinite
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

.socialIcons {
    font-size: 30px;
    margin-right: 1em;
    background-color: orange;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    transition: background-color 0.25s ease-in-out;
}
.SocialIconsDark{
    font-size: 30px;
    margin-right: 1em;
    background-color: orange;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    transition: background-color 0.25s ease-in-out;
}

.socialIcons:hover {
    color: #fff;
    background-color: rgba(255, 166, 0, 0);
    border: 2px solid orange;
}
.SocialIconsDark:hover{
    color: #000;
    background-color: rgba(255, 166, 0, 0);
    border: 2px solid orange;
}

@media only screen and (max-width:650px) {
    .socialIcons {
        height: 40px;
        width: 40px;
        margin-right: 0.5em;
    }
    .SocialIconsDark{
        height: 40px;
        width: 40px;
        margin-right: 0.5em;
    }
    .CoverPhoto{
        height: 30vh;
        width: 100%;
        background-size: cover;
    }
    .ProfilePict {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid white;
        position: absolute;
        left: 5%;
        bottom: -50px
    }
    .heading1 {
        font-size: 20px;
        /* line-height: 22px; */
    }
    
    .heading1 p {
        font-size: 24px;
    }
    .typewriter {
        font-size: 20px;
        min-height: 0.5em;
    }
    .headingProject{
        font-size: 24px;
    }
}

@media only screen and (max-width:450px){
    .CoverPhoto{
        height: 20vh;
    }
    .ProfilePict {
        height: 75px;
        width: 75px;
        position: absolute;
        left: 5%;
        bottom: -37.5px
    }
    .socialIcons {
        height: 28px;
        width: 28px;
        margin-right: 0.3em;
    }
    .SocialIconsDark{
        height: 28px;
        width: 28px;
        margin-right: 0.3em;
    }
    .heading1 {
        font-size: 16px;
        /* line-height: 16px; */
    }
    
    .heading1 p {
        font-size: 20px;
    }
    .typewriter {
        font-size: 16px;
        /* min-height: 0em; */
    }
    .headingProject{
        font-size: 20px;
    }
    .CardImageStyle{
        height: 120px;
    }
    .card-Title{
        font-size: 18px !important;
    }
}