.basic-intro-wrapper{
    width:70vw;
    padding: 2% 5%; 
}
.basic-intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.verticalLine{
    /* background-color: rgba(255,255,255,0.25); */
    width: 0.25px;
    height: 12vw;
}
.IntroBodyWrapper{
    padding: 2% 5%; 
}
.Intro-Text{
    font-family: 'Poppins', sans-serif;
}
.Intro-Title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw; 
}
.ListHeaderRight{
    font-weight: 300;
}
.ProfileMyImage{
    height: 10vw;
    width:10vw;
    object-fit: cover;
    border-radius: 100%;
}
.CertificateHyperLink{
    text-decoration: underline;
}
.ProgressWrapper{
    width: 50vw;
}
.progressTitle{
    font-family: 'Poppins', sans-serif;
    width:20%;
}
.SkillProgressContainer{
    padding:0px 6vw
}
.LinearBufferProgress{
    width: 50%;
}
.ProgressTextStyle{
    font-family: 'Poppins', sans-serif;
    width:20%;
}
.TechnicalSkillDD{
    border: 1px solid white;
}
.TechnicalSkillDT{
    font-size: 18px;
    position: absolute;
    top: -20px;
    left: 50px;
}
.TechnicalSkillDT1{
    font-size: 18px;
    position: absolute;
    top: -20px;
    right: 50px;
}

.carouselVideo{
    height:60vh;
    width: 50vw;
}
.CoverImage{
    width: 70vw;
    height: 40vh;
    object-fit: cover;
}