.ContactWrapper {
    width: 100%;
    height: 95vh;
}

.CallMeIcon {
    font-size: 20px;
    background-color: orange;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    transition: background-color 0.25s ease-in-out;
}
.CallMeIconLight{
    font-size: 20px;
    background-color: orange;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    transition: background-color 0.25s ease-in-out;
}

.CallMeIconLight:hover{
    color: #000;
    background-color: rgba(255, 166, 0, 0);
    border: 2px solid orange;
}

.CallMeIcon:hover {
    color: #fff;
    background-color: rgba(255, 166, 0, 0);
    border: 2px solid orange;
}

.MailMeText {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#email,
#name,
#message {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin:10px 0px;
    width: 80%;
    /* width: 10vw; */
}

#message {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin:10px 0px;
    width: 90%;
    min-height: 120px;
    text-align: left;

}

#emailInputdiv {
    border-bottom: 1px solid;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#messageInputdiv {
    border-bottom: 1px solid;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}

#emailLabel {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#sendIcon {
    font-size: 25px;
}

.CommonClass {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.SmileyEndImage {
    height: 75px;
    width: 75px;
    object-fit: contain;
    transform: translate(0px, -10px);
    animation-name: smiley_end;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}  

@keyframes smiley_end {
    from {
        transform: translate(0px, -10px);
    }

    to {
        transform: translate(0px, 10px);
    }
}

.ContactDetailsAndForm {
    padding-top: 5vh;
}
.ContactDetails{
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.75s, transform 0.75s;
}
.ContactForm{
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    border-radius: 7px;
    padding: 5% 5%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.75s, transform 0.75s;
}
.FadeYAnimationContact{
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (max-width:1000px) {
    #message {
        min-height: 80px;
        font-size: 14px;
    }
    #email, #name {
        font-size: 14px;
    }
    .CallMeIcon {
        height: 30px;
        width: 30px;
    }
    .MailMeText {
        font-size: 16px;
    }
    #emailInputdiv {
        width: 250px;
    }
    
    #messageInputdiv {
        width: 250px;
    }
}

@media only screen and (max-width:600px){
    .ContactDetails{
        display: flex;
        flex-direction: row;
        width: 350px;
        justify-content: space-evenly;
        /* margin:25px 0px; */
    }
    .MailMeText{
        display: none;

    }
    .SmileyEndImage{
        height: 60px;
        width: 60px;
    }
    .CallMeIcon {
        height: 40px;
        width: 40px;
    }
    .ContactForm{
        padding: 15% 12%;
    }
}
@media only screen and (max-width:350px){
    .ContactDetails{
        width: 250px;
    }
}