.ExtraCurrCarouselWrapper{
    width: 70vw;
}
.ExtraCurrCarouselImage{
    height:220px;
    width: 20vw;
    object-fit: cover;
}
.ExtraCurrCarouselVideo{
    height:220px;
    width: 20vw;
    object-fit: cover;
    background-color: #fff;
}
.ActivityWrapper{
    width: 70vw;
    margin:15vh 0px;
}
.Title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw; 
}
.Body{
    font-family: 'Poppins', sans-serif;
}