.ExtraCurrCarouselWrapper{
    width: 70vw;
}
.ExtraCurrCarouselImage{
    height:220px;
    width: 20vw;
    object-fit: cover;
}
.ExtraCurrCarouselVideo{
    height:200;
    width: 250;
    object-fit: cover;
    background-color: #fff;
}
.ActivityWrapper{
    width: 85vw;
    margin:5% 0px;
}
.Title{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
.Body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.ImageCLass{
    transition: transform 0.5s linear, opacity 0.5s linear;
}
.ImageCLass:hover {
    transform: scale(1.1);
    opacity: 0.5;
}
.ExtraCurricularHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    align-self: center;
    margin-top: 5%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.75s, transform 0.75s;
}
.FadeYAnimationExtra{
    opacity: 1;
    transform: translateY(0px);
}
.HeaderImageExtraas{
    height: 400px;
    width: 400px;
    object-fit: contain;
}
.HeaderTextExtras{
    font-size: 18px;
    width: 50%;
}
@media only screen and (max-width:1000px){
    .HeaderTextExtras{
        font-size: 14px;
    }
    .HeaderImageExtraas{
        height: 200px;
        width: 300px;
        object-fit: contain;
    }
    .Title{
        font-size: 26px;
    }
    .Body{
        font-size: 14px;
    }
}
@media only screen and (max-width:650px){
    .Title{
        font-size: 20px;
    }
    .ExtraCurricularHeader{
        flex-direction: column-reverse;
        opacity: 1;
        transform: translateY(0px);
    }
    .HeaderImageExtraas{
        opacity: 0;
        transform: translateX(-25px);
        transition: opacity 0.75s, transform 0.75s;
    }
    .HeaderTextExtras{
        font-size: 13px;
        text-align: center;
        width: 90%;
        line-height: 20px;
        opacity: 0;
        transform: translateX(25px);
        transition: opacity 0.75s, transform 0.75s;
    }
    .FadeXInExtra{
        opacity: 1;
        transform: translateX(0px);
    }
    .Body{
        font-size: 13px;
    }
}